@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add a New Treat</h4>
<hr>

<h2>Add a new treat to the menu:</h2>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName, new { required = "required"})
  <br />
  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price, new { required = "required"})
  <input type="submit" value="Add New Treat" class="btn btn-light" />
}