@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Add a New Flavor</h2>
<hr>
<h4>Create an new flavor!</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorDescription)
  @Html.TextBoxFor(model => model.FlavorDescription, new { required = "required"})
  <input type="submit" value="Add New Flavor" class="btn btn-light" />
}