@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h4>Add a New Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorDescription)
  @Html.TextBoxFor(model => model.FlavorDescription, new { required = "required"})
  <input type="submit" value="Add New Flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("See All Flavors", "Index")</p>