@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Edit</h2>

<h4>Edit This Flavor: @Html.DisplayFor(model => model.FlavorDescription)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorDescription)
  @Html.EditorFor(model => model.FlavorDescription, new { @class = "form-control required"})
  <br>
  <input type="submit" class="btn btn-light" value="Save" />
}